<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.arksine.autointegrate"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.MANAGE_USB"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS"/>

    <uses-feature android:name="android.hardware.usb.host"/>

    <application
        android:name=".AutoIntegrate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".utilities.HardwareReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.arksine.autointegrate.USB_PERMISSION"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".power.PowerEventReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".widgets.ActivityLaunchWidget" >

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/activity_launch_widget" />
        </receiver>

        <activity
            android:name=".activities.ButtonLearningActivity"
            android:label="@string/title_activity_button_learning"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.BrightnessChangeActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="com.arksine.autointegrate.invisactivity"
            android:theme="@style/EmptyActivity">
        </activity>
        <activity
            android:name=".activities.CameraActivity"
            android:label="@string/title_activity_camera"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activities.RadioActivity"
            android:label="@string/title_activity_radio"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>